div.content {
  float: left;
  width: 82%;
  margin-left: 8px;
  margin-top: -10px;
}


#sidebar {
	width: 15%;
	float: left;
	padding-right: 10px;
	text-align: left;
	margin-bottom: 2em;
}

#sidebar label {
        display: inline;
}

#sidebar input,
#sidebar select,
#sidebar button {
       width: 100%;
}

#sidebar input[type="checkbox"] {
       width: auto;
}

#sidebar ul.roles {
	padding: 0;
	text-align: left;
	list-style: none;
}

#sidebar ul.roles li {
	margin-bottom: 1ex;
}

#sidebar ul.roles li a {
	text-decoration: none;
}

#sidebar ul.roles a.active {
	font-weight: bold;
}

div.role-info h3 {
}

.manager-m2m-add-form {
	margin-top: 2em;
	margin-bottom: 2em;
	display: flex;
	align-items: center;
}

table.main th.name, table.main td.name, #user-table .link, #user-table .username, #user-table
.email, #user-table .first_name, #user-table .last_name, #user-table .ou {
        text-align: left;
}
table.feeds td.url {
	text-align: left;
	padding-left: 1em;
}

table.users tbody tr td:nth-child(2) {
	color: #FF7800;
}

table.users tbody tr td:nth-child(2):hover {
	text-decoration: underline;
	border-bottom: 1px solid transparent;
}

.paginator > span, .paginator a {
  margin: 0px 2px;

}


#delete-form {
  float: right;
}

#details {
	margin-top: 2em;
}

.form-inner-container {
  width: 100%;
}

.with-actions #main .form-inner-container {
  width: 70%;
  float: left;
}

.other_actions {
  margin-left: 70%;
  width: 30%;
}

.other_actions input[type=submit] {
  display: block;
  margin: 5px;
  width: 100%;
  white-space: normal;
}

li#roles a { background-image: url(icon-personnes.png); }
li#roles a:hover { background-image: url(icon-personnes-hover.png); }

li#users a { background-image: url(icon-user.png); }
li#users a:hover { background-image: url(icon-user-hover.png); }

.warning-box {
	padding: 1ex;
	margin: 1ex;
	border-size: 0px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	border: none;
  background: orange;
  display: inline-block;
  max-width: 50%;
}

.warning-box input[type=submit] {
  float: right;
}

th:first-letter {
   text-transform: uppercase;
}
th {
   text-transform: lowercase;
}

/* pad ordering indicator on the left */
th.asc:after, th.desc:after {
  padding-left: 5px;
  color: #0066cc;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
th.asc:after {
  content: "\f175";
}
th.desc:after {
  content: "\f176";
}

td.uuid {
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 6ex;
    max-width: 6ex;
}

#s2id_id_permissions {
  width: 100%;
}
form table tr th {
        text-align: right;
}
div.ui-dialog form p input, div.ui-dialog form p textarea, div.ui-dialog form p select,
form p input, form p textarea, form p select {
  width: calc(100% - 28px);
}

form input[type="checkbox"] {
  width: auto;
}

#id_first_name_p, #id_last_name_p,
#id_password1_p, #id_password2_p {
  width: 50%;
}
#id_first_name_p, #id_password1_p {
  float: left;
  clear: both;
}
#id_last_name_p, #id_password2_p {
  margin-left: 50%;
}


#id_generate_password_p label, #id_reset_password_at_next_login_p label,
#id_send_mail_p label, #id_is_superuser_p label {
  display: inline;
}
.form-inner-container > .errorlist {
  margin: 5px 8px;
  margin-left: 0px;
}
span.errorlist {
  display: block;
  margin-left: 10px;
  margin-top: 8px;
}
span.errorlist span {
  display: block;
  margin: 0;
  padding: 0;
  color: #e80404;
}

.waiting {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
}

/* role members */
.role-add {
    margin-left: 1ex; 
}
.role-remove {
    margin-left: 0.5ex;
    margin-right: 1ex;
}
.role-inheritance { margin: 1em 0px; }

/* Select2 styling */

span.select2-container {
	width: auto !important;
	flex-grow: 1;
	margin-right: 1em;
}

.ui-dialog-content span.select2-container {
	width: 100% !important;
}
