{% extends "authentic2/manager/sidebar.html" %}
{% load i18n staticfiles django_tables2 %}

{% block page-title %}{{ block.super }} - {% trans "Users" %}{% endblock %}

{% block appbar %}
  {{ block.super }}
    {% if add_ou %}
     <a
        href="{% url "a2-manager-user-add" ou_pk=add_ou.pk %}"
        id="add-user-btn">
         {% trans "Add user" %}
     </a>
   {% else %}
     <a
        href="#"
        class="disabled"
        id="add-user-btn">
         {% trans "Add user" %}
     </a>
   {% endif %}
{% endblock %}

{% block breadcrumb %}
  {{ block.super }}
  <a href="{% url 'a2-manager-users' %}">{% trans 'Users' %}</a>
{% endblock %}

{% block sidebar %}
  {% include "authentic2/manager/search_form.html" %}
{% endblock %}

{% block main %}
  {% with row_link=1 %}
    {% render_table table "authentic2/manager/table.html" %}
  {% endwith %}
  {% include "authentic2/manager/export_include.html" with export_view_name="a2-manager-users-export" %}
{% endblock %}
