{% extends "authentic2/manager/form.html" %}
{% load firstof from future %}
{% load i18n %}

{% block bodyclasses %}{{ block.super }} with-actions{% endblock %}

{% block appbar %}
  {{ block.super }}
  {% if view.can_delete %}
    <a rel="popup" href="{% url "a2-manager-user-delete" pk=object.pk %}">{% trans "Delete" %}</a>
  {% else %}
    <a class="disabled" title="{% trans "You do not have the rights to delete this user." %}" href="#">{% trans "Delete" %}</a>
  {% endif %}

  {% if view.can_change %}
    <a href="{% url "a2-manager-user-edit" pk=object.pk %}">{% trans "Edit" %}</a>
  {% else %}
    <a class="disabled" title="{% trans "You do not have the rights to edit this user." %}" href="#">{% trans "Edit" %}</a>
  {% endif %}
{% endblock %}

{% block breadcrumb %}
  {{ block.super }}
  <a href="../">{% trans 'Users' %}</a>
  {% if multiple_ou and object.ou %}
    <a href="../?search-ou={{ object.ou.pk }}">{{ object.ou }}</a>
  {% endif %}
  <a href="#">{{ object.get_full_name }}</a>
{% endblock %}

{% block afterform %}
  {% if object.passwordreset_set.exists %}
    <div class="warning-box">{% trans "User must change its password on next access to authentic" %}
      <input type="submit" name="delete_password_reset" value="{% trans "Cancel this constraint" %}"/>
    </div>
  {% endif %}
{% endblock %}

{% block buttons %}
{% endblock %}

{% block other_actions %}

  <p class="a2-manager-user-last-login">
    {% if object.last_login %}
      {% blocktrans with date=object.last_login %}Last login on {{ date }}.{% endblocktrans %}
    {% else %}
      {% trans "Never logged in." %}
    {% endif %}
  </p>

  <p class="a2-manager-user-date-joined">
    {% blocktrans with date=object.date_joined %}Created on {{ date }}{% endblocktrans %}
  </p>

  {% if object.date_joined != object.modified %}
    <p class="a2-manager-user-modified">
      {% blocktrans with date=object.modified %}Modified on {{ date }}{% endblocktrans %}
    </p>
  {% endif %}

  {% for data in user_data %}
    {{ data }}
  {% endfor %}

  {{ block.super }}

  {% if roles or can_change_roles %}
    <strong>{% trans "Roles" %}</strong>
    <ul>
      {% for role in object.roles_and_parents %}
      <li {% if role.description %}title="{{ role.description }}"{% endif %}>
        <a href="{% url "a2-manager-role-members" pk=role.pk %}">{% if multiple_ou and role.ou %}{{ role.ou }} &#8212; {% endif %}{{ role }}</a>
      </li>
      {% endfor %}
    </ul>

    {% if can_change_roles %}
      <button onclick="window.location.href = '{% url "a2-manager-user-roles" pk=object.pk %}?search-ou={% firstof object.ou.pk default_ou.pk %}'; return false">{% trans "Modify" %}</button>
    {% endif %}
  {% endif %}


{% endblock %}
